#input{
    background-color: black;
    border-top : solid blue 3px;
    border-bottom: solid red 3px;
    display: flex;
    justify-content: space-around;
    height: 150x;
    padding: 5px;
    border-radius: 50px;

}
#start {
    border: double 5px black;
    height: 100px;
    border-radius: 50px;
    background: radial-gradient(yellow, orange, yellow);
}
#start:hover{
    transform: scale(1.2);
}
#Player1 {
    height: 100px;
    width: 200px;
    background-color: lightblue;
    border-radius: 50%;
    border: double blue 6px;
    font-weight: bold;
    text-align: center;
}
#Player2 {
    height: 100px;
    width: 200px;
    background-color: lightpink;
    border-radius: 50%;
    border: double red 6px;
    font-weight: bold;
    text-align: center;
}
:placeholder-shown{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
main{
    display : none;
    margin: 50px;
    align-items: center;
    justify-content: space-around;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2020/08/07/01/25/dice-5469521__480.jpg");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size:cover;
    font-size: xx-large;
    margin: 50px;
}
#dice1 {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;}
#dice2 {
    display: none;
    justify-content: center;
    width: 50%;
    margin: auto;
}
#gameboard1{
    border: solid blue;
    border-radius: 15px;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    top: 20px;
    padding: 15px;    
    width: 450px;
    height: 100%;
    opacity: 80%;
    background-color: lightblue;
    text-align: center;
}
#gameboard2{
    border: solid red;
    text-align: center;
    border-radius: 15px;
    display: block;
    flex-wrap: wrap;
    padding: 15px;
    flex-direction: column;
    margin: 50px;    
    width: 450px;
    height: 100%;
    opacity: 80%;
    background-color: lightpink;
}

#Turn {
    position: absolute;
    bottom: 150px;
    width:80%;
    height: 50px;
    font-size: 50px;
    text-align: center;
    justify-items: center;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellowgreen;
    background-color:darkviolet;
    opacity: 80%;
    border: solid purple;
    border-radius: 25px;
    padding: 30px;
    
}